@media only screen and (min-width: 640px){   

    body {    
        margin: 0 auto;    
        font-size: 16px;
        
    }

    .navigation li {
        display: block;
    }

    .navigation {
        background-color: #042940;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        line-height: 4em;
        align-items: center;
        justify-content: right;
        font-size: 1.2em;
        gap: 3rem;
        margin: 0 auto;
        padding-right: 3rem;
        
    }

    .navigation li:first-child {
		display: none;
	}

    nav a:link, nav a:visited {
        color: #D6D58E;
        text-decoration: none;  

    }

    nav li :hover {
        color: #005C53;
        background-color: #D6D58E;
        
    }

    nav div img {
        position: absolute;	
        padding-left: 1rem;
        padding-top: 1rem;
    }

    header {
        background-color: #042940;

    }
    
    main {
        display: grid;        
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        margin: 0 auto;        
        gap: 1rem;
        padding-top: 15px;             
        padding-bottom: 15px;
               
    }
    
    main div{
        display: grid;        
        grid-column: 1/4;
        grid-row: 3/4;
        gap: 1rem;
    }

    section {                  
        margin-left: 0;
        margin-right: 0;
    }

    section ul {
        padding-left: 5px;
        margin-top: 0;
    }

    h3 {
        grid-column: 1/5;
    }

    div h2 {
        grid-column: 2/4;
        grid-row: 1/2;
        margin: 0;
    }

    div section {
        display: grid;
        grid-column: 1/4;
        grid-row: 3/4;
        
    }

    .culture {
        grid-column: 1/4;
        grid-row: 1/2;

    }

    
    .culture img {
        grid-column: 2/4;
        grid-row: 2/3;
        margin-top: 20px;
        
        
    }

    .gastronomy {
        grid-column: 1/4;
        grid-row: 2/3;

    }

    .gastronomy h1 {
        grid-column: 1/2;
        grid-row: 1/1;
        

    }

   img:hover {
        box-shadow: 0 0 50px #333;

    }

    img {
        border-radius: 25px;
    }

    .gastronomy img {        
        margin-top: 15px;
        grid-row: 2/4;               

    }

    .gastronomy h2 {        
        margin-top: 15px;
        margin-left: 15px;         

    }
    
    
    .gastronomy p {        
        padding-left: 20px;
        grid-column: 2/4;
        grid-row: 2/3;         

    }

    .gastronomy div {
        gap: 0;        
        grid-column: 2/4;
        grid-row: 3/4;
        margin-left: 50px;          

    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    footer img {
        margin: 0;        
        padding-left: 15rem;
        padding-top: 1rem;
    }

    footer {
        text-align: left;

    }

    .logo {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .contact {
        grid-column: 3/4;
        grid-row: 1/2;
        text-align: left;
        margin: 25px 15px 0px 15px;
        
    }

    .resume {        
        display: flex;
        grid-column: 1/4;
        gap: 0rem;
        align-items: center;
        padding: 15px ;
        
        
    }

    .visit {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}