:root {
    /*palette */
    --color-one: #4589a5;
    --color-two: #ffffff;
    --shadow: #6f7364;   
    --background-color-one: #D6D58E;
    --background-color-two: #000000;
    --color-link-one: #0000ff;
    --color-link-two: #a72f20;   

}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: var(--color-one); 
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 1.2em;
    height: 120px;
    color: var(--color-two);   
}

div h1{
    text-align: center;
    margin: auto 0;      
      
}

div img {
    box-shadow: 5px 5px 10px var(--shadow);
    margin: 5px 5px 5px 5px;   
    
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--color-two);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    margin: 0;
}

#menu::before {
	content: "≡";
	font-size: 1.5rem;
    color: var(--color-two);
}

.navigation a:hover, navigation a:active {
	color: var(--color-two);
	background-color: var(--background-color-two);
}

.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "X";
    font-size: 1.5rem;
}

nav ul{
    background-color: var(--background-color-two);
    display: flex;
    flex-direction: column;    
    padding: 0.5rem;
    font-size: 1em;
    margin: 0;      

}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    color: var(--color-two);
} 

main h2 {    
    text-decoration-line: underline;
    grid-column: 1/2;
    grid-row: 1/2;
    
}

main {
    font-size: 16px;
    display: flex;
    flex-direction: column;   
    gap: 1rem;
    padding-bottom: 15px; 
    
    
}
.fixme { width: 100%; height: auto; }

h2, section {
    margin-right: 1rem;
    margin-left: 1rem;
}

.cardactivities, .cardproject, .cardinformation {
    box-shadow: 5px 5px 10px var(--shadow);
    border-radius: 10px;
    
}
section div {
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section h3 {
    background-color:var(--color-one);
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center; 
}

section ul {  
  list-style-type: none;
  
  
}

section a:link {
    color: var(--color-link-one);
}

section a:visited {
    color: var(--color-link-one);

}

section a:hover {
    color: var(--color-link-two);

}

section p {    
    margin-left: 2.5rem;
}

footer div{
    background-color: var(--color-one);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    
    color: var(--color-two); 
     
}

footer div h1 {
    font-size: 12px;
}


footer div h2 {
    font-size: 12px;
}

footer div h3 {
    font-size: 12px;
}

footer h4{
    background-color: var(--color-one);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding-bottom: 1rem;
    font-size: 12px;
    color: var(--color-two);    
    margin: 0;   
}

#mode {
	position: absolute;	
	right: 0rem;
	font-size: 1rem;
	cursor: pointer;
    
}
.herolabel {
	position: absolute;
	top: 200px;
	left: 10px;
    background: radial-gradient(#fff, #bcd6e1);
    border: 1px solid var(--color-one);
    padding: 0.75rem;
    box-shadow: 0 0 3rem var(--color-two);
    opacity: 0.75;
	
}

form {    
    padding: 0.5rem;
    width: 65%;
    margin: 0 auto; 
}



label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 5px;
    
}

#label {
    display: grid;  
    background-color: var(--color-two);
    color: var(--background-color-two);
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-right: 10px;    
}

#label > label {
    display: block;   
}

#r {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 63%;
    
    
}
.rangecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;        
    background-color: var(--color-two);       
    
}

.ratinglabels {
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    width: 90%;
    padding: 0;
    background-color: var(--color-two);
    color: black;
    
}

input {
    grid-column: 2/3;
}

.ratevalue {
    margin: 0;
    flex: 0.05 auto;
    text-align: center;
}























  